$blue-grey-darken-2:   #455a64 !default;
$blue-grey-darken-3:   #37474f !default;
$white:                #fff;

h1 {
  font-size: 1.5rem;
  color: $blue-grey-darken-3;
}

label {
  color: $blue-grey-darken-2;
  font-size: 1rem;
  margin-bottom: 0;
  margin-top: .5rem;
}

/* Helpers */

.center {
  text-align: center;
}

.strong {
  font-weight: bold;
}

.big {
  font-size: 1.4em;
}

.card-header {
  background-color: #a20505;

  h1 {
    color: $white;
    margin-bottom: 0;
  }
}

h2.schedule-header::after {
    border-style: solid;
    border-width: .2em .2em 0 0;
    color: rgba(0, 0, 0, 0.35);
    font-size: .8rem;
    content: "";
    display: inline-block;
    height: 12px;
    margin-top: 8px;
    right: 8px;
    position: absolute;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    width: 12px;
}

  .calculator-wrapper,
  .payment-details {
    min-width: 300px;
    max-width: 460px;
    margin: 0 auto;
  }

  .payment-details {
    background: #e8ecef80;
  }

  .table-responsive {
    border: 1px solid #dee2e6;
    border-top: none;

    td {
      font-size: .9rem;
    }
  }

  @media only screen and (max-width: 640px) {
    h2 {
      background: #e8ecef80;
      font-size: 1.7rem;
      line-height: 1;
      margin-bottom: 0;
      padding: 6px;
    }

    .table-responsive td {
      font-size: .8rem;
    }

    .table thead th {
      font-size: .8rem;
    }
  }

@media only screen and (min-width: 768px) {
  .table-responsive.collapse {
      display: block!important;
  }
  h2 {
    pointer-events: none;

    &.schedule-header::after {
      display: none!important;
    }
  }

  .border.mt-4 {
    border: none!important;
  }
}
