@import "~mdbootstrap/scss/core/colors";

h1 {
  font-size: 1.5rem;
  color: $blue-grey-darken-3;
}

label {
  color: $blue-grey-darken-2;
  font-size: 1rem;
  margin-bottom: 0;
  margin-top: .5rem;
}

/* Helpers */

.center {
  text-align: center;
}

.strong {
  font-weight: bold;
}

.big {
  font-size: 1.4em;
}

.card-header {
  background-color: #a20505;

  h1 {
    color: #fff;
  }
}

.calculator-wrapper,
.payment-details {
  min-width: 300px;
  max-width: 460px;;
}